.modal(id="details")
  .modal-content
    h3 {{selected.title}} | Episode List
    .collection(ng-show="selected !== -1")
      .collection-item(ng-repeat="s in selected.seasons")
        h5 {{'Season ' + ($index + 1)}}
        .collection.card
          .collection-item(ng-repeat="e in selected.seasons[$index]")

            //-row 1: stars
            .row.star-rating(ng-show="e.imdbRating !== 'N/A'")
              .col.right.valign
                .row.valign-wrapper
                  i.col.material-icons.s-primary.valign(
                    ng-repeat="star in getRange(e.imdbRating)"
                  ) star_rate
                  .col.valign
                    small.tiny-badge {{e.imdbRating + '/10'}}

            //-row 2: title
            .row.episode-title.valign-wrapper
              .col.left-align.valign
                | {{($parent.$index + 1) + '.' + ($index + 1)}}
              .col.center-align.valign
                p {{e.Title}}

            //-row 3: dates/links
            .row.valign-wrapper
              .col.s4.left-align.s-primary.valign
                small {{e.Released}}
              a.col.s8.right-align(href="http://www.imdb.com/title/{{e.imdbID}}")
                i.material-icons.s-primary link

  .modal-footer
    a.modal-action.modal-close.btn-flat.waves-effect.waves-blue
      i.material-icons close