.results-area(ng-repeat="result in hits")
  .row.valign-wrapper.card
    .col.s1.valign.left-align.hit-index
      | {{$index + 1}}
    .col.s2.valign
      img.img-thumb(ng-show="result.poster", ng-src="{{result.poster}}")
    .col.s8.valign.section
      h6 {{result.title}}
        .tiny-badge.right(ng-show="result.seasons.length > 0")
          | {{result.seasons.length + ' seasons'}}
      p {{result.content}}
    .col.s1.valign.right-align
      a(ng-click="openDetails(result)", href="")
        i.material-icons.s-primary info_outline
      a(ng-show="result.link", href="{{result.link}}")
        i.material-icons.s-primary link
  include details.jade
