p
  color search-accent

h3
  color search-primary


.tiny-badge
  color search-primary
  border-radius 2px
  border solid 1px search-panel
  background-color search-panel
  display inline-block
  padding 3px

.results-area
  color search-primary

.img-thumb
  max-width 90%


.hit-index
  max-width 15px